
.vs/VSWorkspaceState.json

.vs/Pi-GpioZero-Code/FileContentIndex/read.lock

.vs/Pi-GpioZero-Code/FileContentIndex/23b54f3e-6e61-44e5-bf44-f7b0425474d2.vsidx

.vs/slnx.sqlite

.vs/Pi-GpioZero-Code/FileContentIndex/29a60766-3bfd-47dc-9b67-b645db2984c3.vsidx
